<! — views/partials/footer.ejs →
<footer class=”footer”>
    <div class=”container”>

        <!--THis page will add a fotter to the bottom of each page-->
        <p class=”text-center text-muted”>© Brandon Roy-Public Profile website 2016</p>
    </div>
</footer>