<! — views/partials/footer.ejs →
<footer class=”footer”>
    <div class=”container”>

        <!--Website needs to be changed so the href will have a link to the website-->
        <p class=”text-center text-muted”>© Brandon Roy Public Profile 2016 <a href=”">Website</a></p>
    </div>
</footer>