<!--
filename:header.ejs
Author:Brandon Roy

websitename:BrandonRoyPublicProfile

description:
THis is the header file it will have a header that will have a navbar
-->


<!DOCTYPE html>
<html lang="en">


<!--
filename:Home
Author:Brandon Roy

websitename:BrandonRoyPublicProfile

description:
THis will be the home page and will have links and a navbar to go to different pages
-->


<head>
    <meta charset="UTF-8">
    <title>Home</title>

</head>
<body>



<ul class=”nav navbar-nav pull-right”>
    <li><a href=”/”>Home</a></li>
    <li><a href=”/Contact”>Contacts</a></li>
    <li><a href=”/Projects”>Projects</a></li>
    <li><a href=”/Services”>Services</a></li><ul>




</body>
</html>
