<!--
filename:header.ejs
Author:Brandon Roy

websitename:BrandonRoyPublicProfile

description:
THis is the header file it will have a header that will have a navbar
-->


<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>

            </a>
        </div>
<h2>Pages</h2>
        <ul class="nav navbar-nav">
            <li><a href="/">Index</a></li>
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="projects">Projects</a></li>
            <li><a href="services">Services</a></li>
        </ul>

    </div>

</nav>



<nav id="mmenu">
    <ul class="mm-nolist">
        <li><a class="" href="#home">Home</a></li>
        <li><a class="" href="#about">About</a></li>
        <li><a class="" href="#contact">contact</a></li>
        <li><a class="" href="#projects">projects</a></li>
    </ul>
</nav>

<div id="body-wrap">
    <!-- header -->
    <div id="home-header" class="container-fluid header-home">

        <nav class="navbar navbar-default navbar-fixed-top home-header-nav">
            <div class="row">
                <div class="col-md-12">
                    <a href="#mmenu" class="brand"><i class="fa fa-bars"></i></a>
                </div>
            </div>

        </nav>
    </div>
    </div>