
<!DOCTYPE html>
<html lang="en">


<!--
filename:about
Author:Brandon Roy

websitename:BrandonRoyPublicProfile

description:
THis will be the home page and will have links and a navbar to go to different pages
-->


<head>
 <meta charset="UTF-8">
 <title>About me</title>

</head>
<body>


<img class="backgroundImage" src="https://i.imgsafe.org/021e4256ea.jpg" title="background"   width: 100%;
     height: 100%; />
<header><% include ./partials/header %></header>

<h1>About me</h1>
<pre>I was born and raised in Collingwood, Ontario. I am currently a programming student at Georgian college.
 I have a computer systems technician diploma</pre>

<footer><% include ./partials/footer %></footer>

</body>
</html>