<!DOCTYPE html>
<html lang="en">


<!--
filename:Contact
Author:Brandon Roy

websitename:BrandonRoyPublicProfile

description:
THis will have my contact information
-->


<head>
    <meta charset="UTF-8">
    <title>Contact</title>
     <link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>




<header><% include ./partials/header %></header>



<h1>Contact Information</h1>

<pre>Brandon Roy
email: brandonroycstn@hotmail.com
phone: (705)444-4095
</pre>

<pre>You can use this form to message me</pre>
<pre>Didn't have enough time to get the form working</pre>
<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
	<div class="row">
		<label for="name">Name:</label><br />
		<input id="name" class="input" name="name" type="text" value="" size="50" /><br />
	</div>

	<div class="row">
		<label for="email">Email:</label><br />
		<input id="email" class="input" name="email" type="text" value="" size="50" /><br />
	</div>

	<div class="row">
		<label for="message">Message:</label><br />
		<textarea id="message" class="input" name="message" rows="15" cols="50"></textarea><br />
	</div>
	<input id="submit_button" type="submit" value="Send email" />
</form>


<img class="backgroundImage" src="https://i.imgsafe.org/021e4256ea.jpg" title="background"   width: 100%;
         height: 100%; />
</body>
</html>