<!DOCTYPE html>
<html lang="en">


<!--
filename:Home
Author:Brandon Roy

websitename:BrandonRoyPublicProfile

description:
THis will be the home page and will have links and a navbar to go to different pages
THis page has all of the pages on one page because I was not able to get my navbar to use the different pages.
-->


<head>
    <meta charset="UTF-8">
    <title>Home</title>

</head>
<body>


<img class="backgroundImage" src="https://i.imgsafe.org/021e4256ea.jpg" title="background"   width: 100%;
     height: 100%; />
<header><% include ./partials/header %></header>



<h1>Welcome to my public portfolio</h1>

<li><a title="Github Profile" href="https://github.com/200210374">Github profile<i class="fa fa-github-square"></i></a></li>
<li><a title="Facebook profile" href="https://www.facebook.com/brandon.wa.127">Facebook profile<i class="fa fa-facebook-square"></i></a></li>






<footer><% include ./partials/footer %></footer>


</body>
</html>