<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='style.css' />
      <link type="text/css" rel="stylesheet" href="./public/stylesheets/style.css" />
  </head>
  <body background="desk.jpg">
    <h1><%= title %></h1>


<header><% include ./partials/header %></header>



    <p><% include home %></p>
    <p><% include about %></p>
    <p><% include contact %></p>
    <p><% include projects %></p>
    <p><% include services %></p>




    </body>


<footer><% include ./partials/footer %></footer>