<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='style.css' />


      <link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body background="desk.jpg">
    <h1><%= title %></h1>






<header><% include ./partials/header %></header>


    <img class="backgroundImage" src="https://i.imgsafe.org/021e4256ea.jpg" title="background"   width: 100%;
         height: 100%; />


    </body>


<footer><% include ./partials/footer %></footer>