<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='public/stylesheets/style.css' />
  </head>
  <body background="desk.jpg">
    <h1><%= title %></h1>
    <p><%= title %></p>

    


    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>

          </a>
        </div>

        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="pages/about">About</a></li>
          <li><a href="pages/contact">Contact</a></li>
          <li><a href="pages/projects">Projects</a></li>
          <li><a href="pages/services">Services</a></li>
        </ul>

      </div>
    </nav>

  </body>
</html>
