<!DOCTYPE html>
<html lang="en">

<!--
filename:Projects
Author:Brandon Roy

websitename:BrandonRoyPublicProfile

description:
THis will show the projects I have made in the past.
-->



<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>



<img class="backgroundImage" src="https://i.imgsafe.org/021e4256ea.jpg" title="background"   width: 100%;
     height: 100%; />
<header><% include ./partials/header %></header>


<h1>Finished projects</h1>
<h2>C++</h2>
<p style="text-align:center;"><a href="http://www.mediafire.com/file/j22ujbva5862syr/DungeonCrawler.zip">Dungeon Crawler -Game</a></p>


<pre>Dungeon crawler is a game where the character traverses through a dungeon, you will face enemies and traps until you reach the exit.
    Which is guarded by the dungeon master. Your character can use spells and his stats are randomly generated.</pre>


<h2>Java</h2>
<p style="text-align:center;"><a href="https://www.mediafire.com/?ym20zq696ovsj4o">JavaMart-</a></p>
<pre>This program is a java application that is meant to mimic a bank teller.
    This program was made in a team that I was apart of.
</pre>



<footer><% include ./partials/footer %></footer>
</body>
</html>