<!DOCTYPE html>
<html lang="en">

<!--
filename:Services
Author:Brandon Roy

websitename:BrandonRoyPublicProfile

description:
THis will show services
-->


<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="header.ejs"></script>



<pre>
    Technical Skills

    Operating Systems
    ~Windows (XP, 7, 8, Vista Enterprise edition,)
    ~Linux (Fedora, Ubuntu, Unix)


    Hardware
    ~Printers, Hard Drives, Disk Drives

    Programming
    ~PHP, C#, Java, JavaScript, MYSQL and HTML


    Information Technology
    Infrastructure Library
    (ITIL) Skills
    ~Quality of Service (QOS) and standards
    ~Security of data & information
    ~The use of helpdesk ticketing systems such as Spiceworks
    ~Service level agreements, management, and review
    ~Remote tools such as Dameware, Pstools, and Remote desktop
    ~Desktop Systems Design & Testing
    ~Creating Images
    ~Using a WSUS Server
    ~Running security baseline checks such as MBSA
    ~Trouble-shooting of standard software such as MS Office
    ~Understanding of enterprise applications
    ~Scanning for vulnerabilities and intrusions
    These are the skills that I posses and the software I have interacted with.
</pre>

</body>
</html>