body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;



  background-image: url("https://i.imgsafe.org/021e4256ea.jpg");
  background-size: 100% 100%;

  background-repeat: repeat-x;


}

nav {

  border:1px solid black;  padding:2px;
  color:blue;
  text-align: center;
}



li {
  text-align: center;

}






h1 {
  color: #00B7FF;
  text-align: center;
}

h2 {

  text-align: center;


}

p{text-align: center;


}
a {text-align: center;}

form {text-align: center;}





pre {

  color: darkred;
  text-align: center;
}




title {

  color:gray;

}

