/*
filename:Style.css
Author:Brandon Roy

websitename:BrandonRoyPublicProfile

description:
This is a css stylesheet that will change the way teh entire site looks and centers text.
It changes how the navbar looks and adds a border
*/










body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;



  background-image: url("https://i.imgsafe.org/021e4256ea.jpg");
  background-size: 100% 100%;

  background-repeat: repeat-x;


}

nav {

  border:1px solid black;  padding:2px;
  color:blue;
  text-align: center;
}

h3 { color: #00B7FF;
  text-align: center;}

li {
  text-align: center;

}






h1 {
  color: #00B7FF;
  text-align: center;
}

h2 {
color: darkcyan;
  text-align: center;


}

p{text-align: center;


}
a {text-align: center;}

form {text-align: center;}





pre {

  color: darkred;
  text-align: center;
}

p {

  color: darkred;
  text-align: center;


}


title {

  color:gray;

}

