body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: #00B7FF;
}


pre {

  color: darkred;

}




title {

  color:gray;

}

div {
  background: url(https://i.imgsafe.org/021e4256ea.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}